server:
  port: 8090
  servlet:
    context-path: /bankapp
spring:
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update

  datasource:
    url: jdbc:mysql://localhost:3306/ymsli26
    password: root
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
logging:
  level:
    org.springframework.security: DEBUG